snippet ec "if err no nil"
if err != nil {
    return $1err
}
$0
endsnippet

snippet eh "if err no nil write http"
if err != nil {
    ${1:http}.Error(w, err.Error(), http.Status${2:InternalServerError})
    return
}
$0
endsnippet
